/.git/
/outputs/
/_download_cache/

# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/build/
**/bld/
**/bin/
**/Bin/
**/obj/
**/Obj/

**/node_modules/

**/.gitattributes
**/.gitignore